:root{
    --cor-fundo: #914242;
    --cor-principal:#22ad42;
    --cor-secundaria:#f4fa42;
    --cor-texto:#ce1fba;
    --cor-destaque:#49d9e9;

}

body{

background-color:var(--cor-fundo)
color:var(--cor-texto)
display:flex;
justify-content:center;
align-items:center;
height:100vh;
}


  